<!DOCTYPE html>
<html>
<head>
  <title>Graffotos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Graffotos", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/items">Products</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/admin">Login</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/cart">View Cart(<%=@total_items%> items, €<%=@total_price%>)</a></li> 
        </ul>
      </nav>
    </div>
  </header>
    
  <div id='container'>
    <div id='content'>
  		<%= yield %>
    </div>
    <!--<div id='first-column'>
    	<div class="searchbox">
    		<h2 class="BoxHeaders">Search</h2>
    		<input type="text" name="search" /><input type="submit" value="Search" />
    	</div>
      <div class="box">
        <h2 class="BoxHeaders">Special Offers</h2>
        <img src="/assets/Books/Pict1.jpg" name="Rotating" id="Rotating1" alt="Special Offers	">
    		<script type="text/javascript">
    			RotateImages(1,0);
    		</script>
    	</div>
    	<div class="box">
    		<h2 class="BoxHeaders">Newly Published</h2>
    		<img src="/assets/Books/Pict1.jpg" alt="New Books">
    	</div>
    </div>-->
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
